<div class="heading">
  <i class="fa-brands fa-linux"></i>
  <h1 >Linuces</h1>
</div>
<div class="menu">
  <div class="menu_item">
    <a href="/notes/linuces/gentoo">
      <img src="/svg/gentoo.svg"></img>
      <p>Gentoo</p>
    </a>
  </div>
</div>

<div class="heading">
  <i class="fa-solid fa-globe heading"></i>
  <h1 class="heading">Networking</h1>
</div>
<div class="menu">
  <div class="menu_item">
    <a class="menu_item" href="/notes/networking/cisco_ccna">
      <img class="menu_item" src="/svg/cisco.svg"></img>
      <p class="menu_item">Cisco CCNA</p>
    </a>
  </div>
</div>

<div class="heading">
  <i class="fa-solid fa-code heading"></i>
  <h1 class="heading">Programming</h1>
</div>
<div class="menu">
  <!--
  <div class="menu_item">
    <a class="menu_item" href="#">
      <img class="menu_item" src="/svg/git.svg"></img>
      <p class="menu_item">Git</p>
    </a>
  </div>
  -->
  <!--
  <div class="menu_item">
    <a class="menu_item" href="#">
      <img class="menu_item" src=""></img>
      <p class="menu_item">HTML</p>
    </a>
  </div>
  -->
  <!--
  <div class="menu_item">
    <a class="menu_item" href="#">
      <img class="menu_item" src=""></img>
      <p class="menu_item">CSS</p>
    </a>
  </div>
  -->
  <!--
  <div class="menu_item">
    <a class="menu_item" href="#">
      <img class="menu_item" src=""></img>
      <p class="menu_item">JavaScript</p>
    </a>
  </div>
  -->
</div>

<div class="heading">
  <i class="fa-solid fa-shield heading"></i>
  <h1 class="heading">Cybersecurity</h1>
</div>
<div class="menu">
  <!--
  <div class="menu_item">
    <a class="menu_item" href="#">
      <img class="menu_item" src=""></img>
      <p class="menu_item">Forensics</p>
    </a>
  </div>
  -->
</div>
